.projects {
  position: absolute;
  right: 0;
  width: 100%;
  height: 100vh;

  .content {
    right: 0;
    margin-left: 35vw;
    height: 100%;

    .cards {
      padding-top: 200px;
      padding-bottom: 300px;

      .active {
        z-index: 1;
        position: absolute;
      }

      .card {
        padding: 2em;
        width: 1000px;
        height: 650px;
        margin-bottom: 50px;
        position: relative;
        cursor: pointer;

        .background {
          width: 1000px;
          height: 650px;
          position: absolute;
          margin: -2em;
        }

        .backgroundActive {
          width: 100vw;
          height: 100vh;
          position: fixed;
          left: 0;
          top: 0;
        }

        .detailsActive {
          //width: 1200px;
          //height: 800px!important;
        }

        .details {
          height: 100%;
          position: relative;

          .title {
            display: inline-block;
            font-weight: 900;
            max-width: 80%;
            font-size: 6rem;
            line-height: 0.8;
            margin: 25px -10% 25px;
            color: #fff;
          }

          .description {
            width: 30em;
            font-size: 1rem;
            font-weight: 300;
            line-height: 1.6;
            color: #fff;
          }

          .tech {
            font-family: "Roboto Mono", monospace;
            color: #fff;

            span {
              font-size: 1rem;
              margin-right: 1em;
            }
          }

          .links {
            display: flex;
            flex-direction: column;
            pointer-events: auto;
            position: absolute;
            bottom: 0;

            .link {
              text-transform: uppercase;
              font-weight: 900;
              font-size: 1.5rem;
              color: #fff;
            }
          }
        }

        // .detailsActive {
        //   height: 100%;
        // }
      }
    }
  }
}

// .backgroundActive {
//     transform: scale(10);
//     z-index: 990;
//     // position: absolute !important;
//     // left: 0;
//     // top: 0;
//     // width: 100vw !important;
//     // height: 100vw !important;
// }
